.evn

.main {
  background-image: url("images/kosmos4.jpg"), url("images/kosmos5.jpg"), url("images/kosmos6.jpg"), url("images/kosmos6.jpg");
  background-position: top center, top center, bottom center;
  background-size: cover; /*растягиваю картинки  чтобы они полностью покрывали контейнер*/

background-repeat: no-repeat; /*без повторений*/

  /*height: 100vh; 
  /*display: flex; 
  /*flex-direction: column; 
  /*justify-content: flex-start; 
  /*padding-top: 20px; /*отступ сверху чтобы избежать перекрытия с хедером*/   */
}