* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*margin-left: 70px;
  margin-right: 20px;*/
  background-color: rgb(199, 205, 209);
}

.header {
  width: 100%;
  height: 300px;
  background-image: url("images/kosmos3.jpg");
  background-size: cover; /*картинка будет растягиваться по всему фону*/
  background-position: center;
  padding: 0 20px; /*отступы по бокам*/
  color: white;
  display: flex;
  align-items: center;
  position: relative;
}

@font-face {
  font-family: "RubikBubbles-Regular";
  src: url("fonts/RubikBubbles-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.header__text {
  font-size: 40px;
  position: absolute;
  top: 40px;
  left: 50px;
  font-size: 40px;
  z-index: 1; /*текст будет поверх дургих элементов*/
  font-family: "RubikBubbles-Regular";
  overflow: hidden;
  color: white;
}
.header__link {
  color: white;
  text-decoration: none;
}

.header__navigation {
  position: absolute;
  right: 20px;
  bottom: 30px;
  font-size: 17px;
}

.header__list {
  font-family: "RubikBubbles-Regular";
  display: flex;
  list-style-type: none;
  flex-direction: column; /*оставила колонкой , так визуальнее лучше */
}

.container {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  /*flex-direction: row;*/
  gap: 20px;
  padding: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
 position: relative;
  /*z-index: 1; */
}

.header__container {
  position: relative;
  height: 100%;
  width: 100%;
}
/*

*/
.container-header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  gap: 10px;
}

.container__section-one,
.container__section-two,
.container__section-free {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 30%;
  background-color: rgb(224, 220, 229);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.card-image {
  flex: 8;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 80%;
  /*object-fit: cover;*/
  overflow: hidden; /*обрезаю изображение если оно вышло за пределы*/
}
.card-content {
  /*flex: 2;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.gradient-button {
  background: linear-gradient(45deg, #c0c0c0, #1e3a8a); /* Градиент от серебристого к синему */
  color: white; /* Текст белого цвета */
  padding: 10px 20px; /* Отступы внутри кнопки */
  border: none; /* Без границы */
  border-radius: 5px; /* Закругленные углы */
  font-size: 16px; /* Размер текста */
  cursor: pointer; /* Курсор в виде руки при наведении */
  transition: background 0.3s ease; /* Плавный переход при наведении */
  margin-top: 10px;
}
.card-content__button--photo {
  background: linear-gradient(45deg, #1e3a8a, #c0c0c0);
  border-radius: 5px; /* */
}

.card-content__button--two {
  background: linear-gradient(45deg, #1e3a8a, #c0c0c0);
  border-radius: 5px; /*  */
}

.card-content__button--three {
  background: linear-gradient(45deg, #1e3a8a, #c0c0c0);
  border-radius: 5px; /* */
}

background-images img {
 
  width: 100%;
  height: 100vh;
  padding: 0;
  object-fit: cover;
  
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 20px;
  
  background-image: url("images/kosmos4.jpg"), url("images/kosmos5.jpg");
  background-position: top center, top center, bottom center;
 
}

.background-images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
z-index: -1;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/kosmos4.jpg"), url("images/kosmos5.jpg") url("images/kosmos6.jpg");
  background-position: top center, top center, bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1; /*чтобы фон был позади основного контента*/
}
.footer {
  background-image: url("images/kosmos7.jpg");
  background-size: cover;
  background-position: center;
  height: 130px;
  
  text-align: center;
  color: white;
  padding: 20px;
  z-index: 0; /* чтобы футер не перекрывал другие элементы */
 /* margin-top: 20px; /*гарантирует что футер не будет прижиматься к содержимому  */ */
  
}
.generation__question {
  color: #fffbfb;
}

.generation__button {
  background: linear-gradient(45deg, #1e3a8a, #c0c0c0);
  border-radius: 5px;
}

.generation__question {
  color: white;
}
.generation-planet__text {
  color: white;
}

.generation {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 10px;
}

.generation__question {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px; /*отступ между строкой и кнопкой*/
}

.generation__button {
  background: linear-gradient(45deg, #1e3a8a, #c0c0c0);
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 5px;
}

.generation-plane__button-yes {
  background: linear-gradient(45deg, #1e3a8a, #c0c0c0);
  border-radius: 5px;
}

.generation-plane__button-no {
  background: linear-gradient(45deg, #1e3a8a, #c0c0c0);
  border-radius: 5px;
}
.planet-info__planet-text {
  color: white;
}

.generation__question{
  color: white;
  font-size: 50px;
}

.generation-planet__text{
 font-size: 32px;
}

.planet-info__planet-text{
  font-size: 25px;
}